body {
    background-image:  url('https://raw.githubusercontent.com/chetchop/chetchop.github.io/master/Images/sky.jpg?token=ANva3-UpL0WBhcsPG1PV6TbWAGpyDVQXks5WCsEIwA%3D%3D');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
}

#headings .intro {
     color:white;
     text-align: center;
     padding-top: 25%;
     font-family: 'Lato';

}

#headings .intro name {
	 color: red;

}

#headings h2 {
	font-family: 'Lato';
	border-style: solid;
	border-width: 1px;
	padding-top: none;
	display: inline;
	text-align: center;
}
