body {
    background-image:  url('https://raw.githubusercontent.com/chetchop/chetchop.github.io/master/Images/sky.jpg?token=ANva3-UpL0WBhcsPG1PV6TbWAGpyDVQXks5WCsEIwA%3D%3D');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
}

#headings .intro {
     color:white;
     text-align: center;
     padding-top: 25%;
     font-family: 'Lato';
     font-weight: 100;

}

#headings .intro name {
	 color: blue;
	 font-weight: bold;

}

#Enter {
	text-align: center;
}

#Enter a {
	border-style: solid;
	font-family: 'Lato';
	font-size:25px;
	font-weight: bold;
	color: black;
	text-align: center;
	padding: 5px;
	border-width: 1px;
	display: inline;
	border-radius: 20px;
	border-color: black;
	text-decoration: none;
}

#Enter a:hover {
    color: #3D9970;
    border-color: #3D9970;
    border-radius: 0px;
}
